/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  nCore.rc                                                      August, 2012
 *  The nModules Project
 *
 *  Version information for nCore.
 *  
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#include "afxres.h"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,1,0,0
    PRODUCTVERSION 0,1,0,0
    FILEFLAGSMASK 0x17L
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "nCore LiteStep module"
            VALUE "FileVersion", "0, 1, 0, 0"
            VALUE "InternalName", "nCore"
            VALUE "LegalCopyright", "Copyright (C) 2012"
            VALUE "OriginalFilename", "nCore.dll"
            VALUE "ProductName", "nCore Dynamic Link Library"
            VALUE "ProductVersion", "0, 1, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
